body
  margin 0
  padding 0
  background-color $sgp-darkblue
  font-family 'Open Sans'

  div.score-box
    position absolute
    height 100%
    width 100%
    display flex
    justify-content space-between

    div.team
      position relative
      width 50%

      &:first-child
        background-color $sgp-deep
        border-right 1px solid $sgp-white

      &:last-child
        background-color $sgp-indigo
        border-left 1px solid $sgp-white

      h2
        text-align center
        color $sgp-white
        font-weight normal
        text-transform uppercase
        font-size $font-large

      span
        position absolute
        top 0
        height 100%
        width 100%
        display flex
        justify-content center
        align-items center
        color $sgp-white
        font-weight 300
        font-size $font-xlarge

      div.cibles
        position absolute
        bottom 20px
        width 100%
        display flex
        justify-content center

        div.cible
          width 40px
          height 40px
          border-radius 20px
          border 1px solid $sgp-white
          margin 0 10px

          &.dead
            background-color $sgp-white
