div.login
  display flex
  justify-content center
  align-items center

  .demo-card-wide.mdl-card
    width 512px
    border-radius 5px

    > .mdl-card__title
      color #fff
      background-color #3f51b5

    > .mdl-card__menu
      color #fff

    .mdl-textfield
      width 100%
