nav
  position fixed
  top 0
  bottom 0
  left 0
  width 150px
  background-color $sgp-light
  z-index 10

  div.header
    display flex
    justify-content center
    align-items center
    border-bottom 1px solid $sgp-lightgrey
    height 100px

    h1
      margin 0
      color $sgp-dark
      font-size $font-xlarge
      font-weight 300

  div.items
    div.item
      display flex
      flex-direction column
      align-items center
      justify-content center
      height 100px

      div.icon
        display flex
        justify-content center
        align-items center
        height 60px
        width 60px
        border-radius 30px
        background-color $sgp-lightgrey
        transition-duration 0.3s

        i
          font-size 30px
          color $sgp-dark
          transition-duration 0.3s

      span
        margin-top 5px
        color $sgp-dark
        font-weight 300
        text-transform uppercase
        transition-duration 0.3s
        font-size $font-medium

      &:hover
        cursor pointer

        div.icon
          background-color alpha($sgp-green, 0.2)

          i
            color $sgp-green

        span
          color $sgp-green
