<div class="login page">
  <form ng-submit="login(credentials)">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Backoffice access</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="email" id="mail" ng-model="credentials.mail" />
          <label class="mdl-textfield__label" for="mail">Adresse mail</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="password" id="password" ng-model="credentials.password" />
          <label class="mdl-textfield__label" for="password">Mot de passe</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Connexion
        </button>
      </div>
    </div>
  </form>
</div>
