<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Serious Game App</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/frontoffice.css" />

    <!-- LIBRARIES -->
    <script type="text/javascript" src="script/firebase.js"></script>
    <script type="text/javascript" src="script/angular.min.js"></script>
    <script type="text/javascript" src="script/angularfire.min.js"></script>

    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <!-- CONTROLLERS -->
    <script type="text/javascript" src="js/controllers/ScoreControllerFrontoffice.js"></script>
  </head>
  <body ng-app="seriousGameFront">
    <div class="score-box" ng-controller="scoreController">

      <div class="team" ng-repeat="team in playing.teams">
        <h2>{{ team.name }}</h2>
        <span>{{ score(team.cibles) }}</span>

        <div class="cibles">
          <div class="cible {{ cible ? 'dead' : '' }}" ng-repeat="cible in team.cibles track by $index"></div>
        </div>
      </div>

    </div>
  </body>
</html>
